/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap');

/* Global CSS */
body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #999999;
}
a{
	text-decoration: none;
}
.mt-50{
	margin-top: 50px;
}
  
/* Header Section */
header{
	background-color: #f6f9f9;
	padding: 20px 0;
}
.logo{
	width: 165px;
}


/* Banner Section */
.banner-section{
	background: url(../images/banner.png) no-repeat center top;
	background-size: cover;
	padding: 250px 0 150px;
}
.banner-section h1{
	text-align: center;
	font-size: 120px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.title-separator{
	background: #15a4fa;
	height: 2px;
	width: 47%;
	margin: 0 auto 25px;
}
.banner-section p{
text-align: center;
font-size: 20px;
color: #fff;
font-weight: 400;
}
.banner-section .btn-banner{
	border: 1px solid #15a4fa;
	padding: 13px 45px;
	background: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	display: block;
	margin: 100px auto 200px;
	transition: all 0.3s ease-in-out;

}
.banner-section .btn-banner:hover{
	background: #15a4fa;
}
.banner-section .fa-angle-down{
	color: #fff;
	font-size: 30px;
	text-align: center;
	display: block;
}


/* About Section */
.about-section{
	padding: 75x 0;
	background: #f6f9f9;
}
.about-section h2{
	text-align: center;
	font-size: 38px;
	color: #2d3950;
}
.about-section p{
	text-align: center;
	font-size: 18px;
	padding: 0 45px;
}
/* feature section*/
.feature-section{
	padding: 75px 0;
	text-align: center
}
.feature-section h2{
	margin: 15px 0 10px;
	color: #2d3950;
	font-size: 25px;
}
.feature-section p{
	padding: 0 50px;
	font-size: 16px;
}
/* Gallery section start */
.gallery-sedction{
	padding: 75px 0;
	background: #f6f9f9;
}
.gallery-section h2{
	text-align: center;
	font-size: 38px;
	color: #2d3950
}
.gallery-section p{
	text-align: center;
	font-size: 15px;
	padding: 0 45px;
}

.g-item{
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
	transition: all 0.3s ease-in-out;
}
.g-img{
	width: 100%;
}
.g-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background: rgba(44, 172, 247, 0);
	text-align: center;
	transition: all 0.3s ease-in-out;
}
.g-hover ul{
	margin-top: 30%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.g-hover ul li{
	list-style: none;
	display: inline;
	margin: 0 5px;
}
.g-hover ul li a i{
	color: #fff;
	height: 45px;
	width: 45px;
	border: 1px solid #fff;
	border-radius: 5px;
	text-align: center;
	line-height: 45px;
}
.g-item:hover .g-hover{
	background: rgba(44, 172, 247, .8);
	left: 0;
}
.g-item:hover .g-hover ul{
	opacity: 1;
}


/* Contact section start */

.contact-section{
	background: url(../images/bg-img.png) no-repeat center top;
	background-size: cover;
	padding: 100px 0;
}
.contact-section h2{
	text-align: center;
	font-size: 40px;
	color: #fff;
}
.contact-section p{
	font-size: 15px;
	text-align: center;
	color: #939495;
}
.contact-form .form-control{
	background: transparent;
	border: 1px solid #999999;
	border-radius: 3px;
	outline: none;
	padding: 10px 12px;
	color: #fff;
	font-size: 18px;
	letter-spacing: .5px;
}
.btn-send{
	border: 1px solid #15a4fa;
	padding: 5px 30px;
	float: right;
	background: transparent;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	transition: all 0.3s ease-in-out;
	
}
.btn-send:hover{
	background: #15a4fa;
}
.custom-checkbox{
	display: inline-block;
	margin-top: 8px;
}


/* footer section */
footer{
	background: #f6f9f9;
	padding: 20px 0;
}
.social-media{
	text-align: right;
}
.social-media ul li{
	list-style: none;
	display: inline;
	margin: 0 3px;
}
.social-media ul li a .fa-brands{
	width: 40px;
	height: 40px;
	background: #15a4fa;
	text-align: center;
	color: #fff;
	line-height: 40px;
	font-size: 18px;
	border-radius: 3px;
}

@media (min-width: 320px) and (max-width: 576px){
	.mt-50{ margin-top: 25px; }
	.logo{display: block; margin: 0 auto;}
	.banner-section{padding: 100px 0 75px;}
	.banner-section h1{ font-size: 48px; }
	.title-separator{ margin:0 auto 10px; }
	.banner-section p{ font-size:18px; }
	.banner-section .btn-banner{ margin:25px auto 50px;}
	.about-section{ padding: 35px 0; }
	.about-section h2{ font-size: 28px; }
	.about-section p{ font-size:16px; padding:0 15px; }
	.feature-section{ padding:35px 0; }
	.feature-section h3{ font-size:22px; }
	.feature-section p{ line-height:22px; margin-bottom:35px; }
	.gallery-section{ padding:35px 0; }
    .gallery-section h2{ font-size: 28px; }
	.gallery-section p{ font-size:16px; padding:0 15px; }
	.contact-section{ padding:35px 0; }
    .contact-section h2{ font-size: 28px; }
	.contact-section p{ font-size:16px; padding:0 15px; }
	footer p{ text-align:center; }
	.social-media{ text-align:center; }

}
